/* Section 1 css */

.secsection1 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
        url('../../Assets/images/service1.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 75vh;
    width: 100%;
    position: relative;

}


@media only screen and (min-width:320px)and (max-width: 767px) {
    .secherotext {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


}

@media only screen and (min-width: 768px) {
    .secherotext {
        position: absolute;
        top: 50%;
        left: 30%;
        transform: translate(-50%, -50%);
    }

    .secherotext h1 {
        color: #fff;
        font-size: 60px;
    }
}